    <div class="col-left">
      <div class="crumbs">
        <a href="http://localhost/pycms">首页</a> <span>&gt;</span> <a href=
        "http://localhost/pycms/html/indunews/">行业新闻</a> &gt; 正文
      </div>

      <div id="Article">
        <h1>京东将启动IPO 融资额创互联网公司之最<br>
        <span>2011-09-09 17:52:03&nbsp;&nbsp;&nbsp;来源：&nbsp;&nbsp;&nbsp;评论：<a id="comment" href="#comment_iframe">0</a>
        点击：</span><span id="hits">4</span></h1>

        <div class="summary">
          汤森路透旗下IFR周三援引知情人士的消息 ，京东商城(微博)计划于下周启动IPO(首次公开募股)程序，计划融资40亿美元至50亿美元，可能创下互联网公司在美国的IPO之最。
        </div>

        <div class="content">
          <p>【IT168 资讯】汤森路透旗下IFR周三援引知情人士的消息 ，京东商城(微博)计划于下周启动IPO(首次公开募股)程序，计划融资40亿美元至50亿美元，可能创下互联网公司在美国的IPO之最。</p>

          <p>　　该知情人士称，京东商城计划于下周在北京对投资银行进行“选美”(beauty parade)，从中挑选上市承销商。而IPO日期初步确定在2012年上半年。</p>

          <p>　　其中一位知情人士称，IPO规模可能超过50亿美元，这取决于最终的IPO日期。IFR称，谷歌2004年通过IPO融资16.7亿美元，为当时最大规模的互联网公司IPO。</p>

          <p>　　京东商城此前共获得3轮融资。2007年8月，京东获今日资本投资，首批融资千万美金。2009年1月，京东获得来自今日资本、雄牛资本以及亚洲著名投资银行家梁伯韬的私人公司共计2100万美元的联合注资。</p>

          <p>　　今年3月，京东完成15亿美元C轮融资，投资方包括DST、老虎基金等6家基金以社会知名人士，其中DST以5亿美元获5%股份，意味着京东估值达100亿美元。</p>

          <p>　　京东商城创建于2004年，是中国第二大在线B2C零售商，位居淘宝商城之后。京东商城在今年4月的第三轮融资中获得15亿美元的投资，为公司估值100亿美元。DST和老虎基金(Tiger
          Fund)均为京东商城投资方。(李明)</p>
          <!--内容关联投票-->
        </div>

        <div class="text-c" id="pages">
        </div>

        <p style="margin-bottom:10px"><strong>相关热词搜索：</strong><a class="blue" href=
        "http://localhost/pycms/index.php?m=content&amp;c=tag&amp;catid=9&amp;tag=%E4%BA%AC%E4%B8%9C">京东</a> <a class=
        "blue" href=
        "http://localhost/pycms/index.php?m=content&amp;c=tag&amp;catid=9&amp;tag=%E8%9E%8D%E8%B5%84">融资</a></p>

        <p class="f14"><strong>上一篇：</strong><a href="javascript:alert('第一页');">第一页</a><br>
         <strong>下一篇：</strong><a href="javascript:alert('最后一页');">最后一页</a></p>
      </div>
    </div>

    <div class="col-auto">
      <div class="box">
        <h5 class="title-2">频道总排行</h5>

        <ul class="content digg">
          <li><a title="ddd" target="_blank" href=
          "http://localhost/pycms/index.php?m=content&amp;c=index&amp;a=show&amp;catid=13&amp;id=4">ddd</a></li>

          <li><a title="sdcsdcsdcsdc" target="_blank" href=
          "http://localhost/pycms/index.php?m=content&amp;c=index&amp;a=show&amp;catid=13&amp;id=2">sdcsdcsdcsdc</a></li>
        </ul>
      </div>

      <div class="box">
        <h5 class="title-2">频道本月排行</h5>

        <ul class="content rank">
          <li><span>1</span><a title="ddd" class="title" style="" href=
          "http://localhost/pycms/index.php?m=content&amp;c=index&amp;a=show&amp;catid=13&amp;id=4">ddd</a></li>

          <li><span>0</span><a title="sdcsdcsdcsdc" class="title" style="" href=
          "http://localhost/pycms/index.php?m=content&amp;c=index&amp;a=show&amp;catid=13&amp;id=2">sdcsdcsdcsdc</a></li>
        </ul>
      </div>
    </div>

