@import url(default_blue.css);
.ad-column, .wrap-line{width:960px;margin:0 auto;}
.wrap-line{float:left;}

/* 页面顶部 */
.header-top{background: url(../images/v9/body-top.png) repeat-x left -115px;}
.header-top{height:26px; background-color:#eee; vertical-align:middle}
.header-top{width:974px;margin:0 auto;}
.header-top-right{ float:right;height:24px;line-height:24px;margin:0 10px;font-size:12px}

/* 导航2 */
.header .nav-area{ float:right; width:760px;_width:auto; padding-right:10px; height:70px}
.header .nav-area .content{ float:right;}
.header .nav-col{float:left;width:180px}
.header .nav-sep{float:left;width:1px;height:50px;border-left:1px solid #C3D4E7;margin-top:8px;}
.header .nav-line{height:33px;background-position: left -65px;background-repeat: repeat-x; margin:0 10px; padding-left:5px}
.header .nav-line li{float:left; height:33px; line-height:33px; padding:0 5px; }
.header .nav-line li a{font-size:13px;*display:block}
.header .nav-line li a.category{color:#004499;font-size:14px; font-weight:500;}
.header .nav-line li.line{background-position: 2px -215px; padding:0; width:10px; text-indent:-10000px}

/* 搜索 */
.main .search{float:left; width:960px;_width:auto; height:35px;background:#ededed}
.main .search .bd{ background:#ededed; padding:4px; float:left;}
.main .search .text{border:1px solid #e5e5e7;padding:4px 0 3px 40px; height:18px;width:360px;background:#fff url(../images/v9/icon.png) no-repeat}
.main .search .button{ background:#3a6ea5; border:none; color:#fff; height:1.9em;margin-left:3px;width:4.2em; margin-left:6px;vertical-align:middle; text-align:center}

.main .keywords{ float:right; width:400px;_width:auto; padding-right:10px; height:70px	}
.main .keywords{height:33px;background-position: left -65px;background-repeat: repeat-x; margin:0 10px; padding-left:5px}
.main .keywords li{float:left; height:33px; line-height:33px; padding:0 5px; }
.main .keywords li a{font-size:13px;*display:block}

.main .wrap-line .slide{overflow:hidden;float:left;zoom:1;width:302px;margin-right:3px;}

.lcat-area{width:300px; float:left}
.ccat-area{width:400px; float:left}
.rcat-area{width:245px; float:left}

.lcat-area .content p img, .ccat-area .content p img, .rcat-area .content p img{ margin-right:10px; float:left}
.lcat-area .content p, .ccat-area .content p, .rcat-area .content p{color:#777; height:75px; overflow:hidden}
.lcat-area .content p strong, .ccat-area .content p strong, .rcat-area .content p strong{ font-size:14px; color:#333}

