<table width="100%" class="table_form ">
 <tbody>
    <tr>
        <th>模板名称：</th>
        <td>
        <span id="normal_add"><input type="text" value="${form.d.name if form.d.name is not None else ''}" class="input-text" id="name" name="name"><div id="catnameTip" class="onShow">请输入栏目名称</div></span>
		</td>
    </tr>
	  <tr>
        <th>模板文件：</th>
        <td><script src="http://localhost/pycms/statics/js/swfupload/swf2ckeditor.js" type="text/javascript"></script><input type="text" class="input-text" size="50" value="${file}" id="file" name="file">  <input type="button" value="上传模板" onclick="javascript:flashupload('image_images', '附件上传','image',submit_images,'1,jpg|jpeg|gif|bmp|png,1,,,0','content','','40b5333df0707b621d30f03e0236d899')" class="button"></td>
      </tr>
	<tr>
        <th>描述：</th>
        <td>
		<textarea style="width:300px;height:60px;" maxlength="255" name="info[description]"></textarea>
		</td>
      </tr>
</tbody>
</table>
