<%inherit file="article_base.html"/>

<script type="text/javascript">
<!--
	var charset = 'utf-8';
	var uploadurl = 'http://localhost/phpcms/uploadfile/';
//-->
</script>
<script language="javascript" type="text/javascript" src="${static_url}/js/content_addtop.js"></script>
<script language="javascript" type="text/javascript" src="${static_url}/js/colorpicker.js"></script>
<script language="javascript" type="text/javascript" src="${static_url}/js/hotkeys.js"></script>
<script language="javascript" type="text/javascript" src="${static_url}/js/cookie.js"></script>
<script type="text/javascript">var catid=13</script>
<form name="myform" id="myform" action="" method="post" enctype="multipart/form-data">
<div class="addContent">

<div class="col-right">
    	<div class="col-1">
        	<div class="content pad-6">
	<h6> 缩略图</h6>
	 <div class='upload-pic img-wrap'><input type='hidden' name='thumb' id='thumb' value=''>
			<a href='javascript:void(0);' onclick="flashupload('thumb_images', '附件上传','thumb',thumb_images,'1,jpg|jpeg|gif|png|bmp,1,,,0','content','13','87f3e7e780e625ba70993c6a02248f98');return false;">
			<img src='${static_url}/images/icon/upload-pic.png' id='thumb_preview' width='135' height='113' style='cursor:hand' /></a><input type="button" style="width: 66px;" class="button" onclick="crop_cut_thumb($('#thumb').val());return false;" value="裁切图片"><input type="button" style="width: 66px;" class="button" onclick="$('#thumb_preview').attr('src','${static_url}/images/icon/upload-pic.png');$('#thumb').val(' ');return false;" value="取消图片"><script type="text/javascript">function crop_cut_thumb(id){
	if (id=='') { alert('请先上传缩略图');return false;}
	window.top.art.dialog({title:'裁切图片', id:'crop', iframe:'index.php?m=content&c=content&a=public_crop&module=content&catid='+catid+'&picurl='+encodeURIComponent(id)+'&input=thumb&preview=thumb_preview', width:'680px', height:'480px'}, 	function(){var d = window.top.art.dialog({id:'crop'}).data.iframe;
	d.uploadfile();return false;}, function(){window.top.art.dialog({id:'crop'}).close()});
};</script></div> 
	<h6> 相关文章</h6>

	 <input type='hidden' name='info[relation]' id='relation' value='' style='50' >
<ul class="list-dot" id="relation_text"></ul>
<div>
<input type='button' value="添加相关" onclick="omnipotent('selectid','?m=content&c=content&a=public_relationlist&modelid=1','添加相关文章',1)" class="button" style="width:66px;">
<span class="edit_content">
<input type='button' value="显示已有" onclick="show_relation(1,0)" class="button" style="width:66px;">
</span>
</div> 
	<h6> 发布时间</h6>
	 <link rel="stylesheet" type="text/css" href="${static_url}/js/calendar/jscal2.css"/>
			<link rel="stylesheet" type="text/css" href="${static_url}/js/calendar/border-radius.css"/>
			<link rel="stylesheet" type="text/css" href="${static_url}/js/calendar/win2k.css"/>

			<script type="text/javascript" src="${static_url}/js/calendar/calendar.js"></script>
			<script type="text/javascript" src="${static_url}/js/calendar/lang/en.js"></script><input type="text" name="info[inputtime]" id="inputtime" value="2011-09-23 15:09:02" size="21" class="date" readonly>&nbsp;<script type="text/javascript">
			Calendar.setup({
			weekNumbers: true,
		    inputField : "inputtime",
		    trigger    : "inputtime",
		    dateFormat: "%Y-%m-%d %H:%M:%S",
		    showTime: 12,
		    minuteStep: 1,
		    onSelect   : function() {this.hide();}
			});
        </script> 
	<h6> 内容页模板</h6>

    <select name="info[template]" id="template"><option value='' selected>请选择</option><option value="show" >文章内容页(show.html)</option><option value="show_download" >下载内容页(show_download.html)</option><option value="show_picture" >图片内容页(show_picture.html)</option></select> 

    <h6>状态</h6>
<span class="ib" style="width:90px"><label><input type="radio" name="status" value="99" checked/> 发布 </label></span>
          </div>
        </div>
    </div>

    <div class="col-auto">
    <div class="col-1">
    <div class="content pad-6">
    <table width="100%" cellspacing="0" class="table_form">
	<tbody>	
	<tr>
      <th width="80"> <font color="red">*</font>栏目</th>
      <td><input type="hidden" name="catid" value="${catid}">${catname}<!--a href='javascript:;' onclick="omnipotent('selectid','?m=content&c=content&a=add_othors&siteid=1','同时发布到其他栏目',1);return false;" style='color:#B5BFBB'>[同时发布到其他栏目]</a--><ul class='list-dot-othors' id='add_othors_text'></ul>  </td>

    </tr>
	<tr>
      <th width="80"> <font color="red">*</font>标题</th>
      <td><input type="text" style="width:400px;" name="title" id="title" value="${_s(form.d.title)}" style="color:" class="measure-input " onBlur="$.post('api.php?op=get_keywords&number=3&sid='+Math.random()*5, {data:$('#title').val()}, function(data){if(data && $('#keywords').val()=='') $('#keywords').val(data); })" onkeyup="strlen_verify(this, 'title_len', 80);"/><input type="hidden" name="style_color" id="style_color" value="">
		<input type="hidden" name="style_font_weight" id="style_font_weight" value=""><input type="button" class="button" id="check_title_alt" value="检测重复" onclick="$.get('?m=content&c=content&a=public_check_title&catid=13&sid='+Math.random()*5, {data:$('#title').val()}, function(data){if(data=='1') {$('#check_title_alt').val('标题重复');$('#check_title_alt').css('background-color','#FFCC66');} else if(data=='0') {$('#check_title_alt').val('标题不重复');$('#check_title_alt').css('background-color','#F8FFE1')}})" style="width:73px;"/><img src="${static_url}/images/icon/colour.png" width="15" height="16" onclick="colorpicker('title_colorpanel','set_title_color');" style="cursor:hand"/> 
		<img src="${static_url}/images/icon/bold.png" width="10" height="10" onclick="input_font_bold()" style="cursor:hand"/> <span id="title_colorpanel" style="position:absolute;" class="colorpanel"></span>还可输入<B><span id="title_len">80</span></B> 个字符  </td>

    </tr>
	<tr>
      <th width="80">关键词</th>
      <td><input type='text' name='keywords' id='keywords' value='${_s(form.d.keywords)}' style='width:280px'   class='input-text'>  多关键词之间用空格或者“,”隔开</td>
    </tr>
	<tr>
      <th width="80">来源</th>

      <td><input type='text' name='info[copyfrom]' value='' style='width: 400px;' class='input-text'><select name='copyfrom_data' ><option value="0" selected>≡请选择≡</option></select>  </td>
    </tr>
	<tr>
      <th width="80">摘要</th>
      <td><textarea name='summary' id='description' style='width:60%;height:30px;' onkeyup="strlen_verify(this, 'description_len', 255)">${_s(form.d.summary)}</textarea>还可输入<B><span id="description_len">255</span></B> 个字符  </td>

    </tr>
	<tr>
      <th width="80"> <font color="red">*</font>内容</th>
      <td><div id='content_tip'></div><textarea name="content" id="content" boxid="content">${_s(form.d.content)}</textarea><script type="text/javascript" src="${static_url}/js/ckeditor/ckeditor.js"></script><script type="text/javascript">
              CKEDITOR.replace( 'content',{language:'zh-cn',height:200,pages:true,subtitle:true,textareaid:'content',module:'content',catid:'13',
flashupload:true,alowuploadexts:'',allowbrowser:'1',allowuploadnum:'10',authkey:'1b8426a752d07b7232968152c952ccb8',
filebrowserUploadUrl : 'http://localhost/phpcms/index.php?m=attachment&c=attachments&a=upload&module=content&catid=13&dosubmit=1',
toolbar :
[
['Source','-','Templates'],
		    ['Cut','Copy','Paste','PasteText','PasteFromWord','-','Print'],
		    ['Undo','Redo','-','Find','Replace','-','SelectAll','RemoveFormat'],['ShowBlocks'],['Image','Capture','Flash'],['Maximize'],
		    '/',
		    ['Bold','Italic','Underline','Strike','-'],
		    ['Subscript','Superscript','-'],
		    ['NumberedList','BulletedList','-','Outdent','Indent','Blockquote'],
		    ['JustifyLeft','JustifyCenter','JustifyRight','JustifyBlock'],
		    ['Link','Unlink','Anchor'],
		    ['Table','HorizontalRule','Smiley','SpecialChar','PageBreak'],
		    '/',
		    ['Styles','Format','Font','FontSize'],
		    ['TextColor','BGColor'],
		    ['attachment'],
]
});
</script><div class='editor_bottom'><script type="text/javascript" src="${static_url}/js/swfupload/swf2ckeditor.js"></script><div id='page_title_div'>
		<table cellpadding='0' cellspacing='1' border='0'><tr><td class='title'>子标题<span id='msg_page_title_value'></span></td><td>

		<a class='close' href='javascript:;' onclick='javascript:$("#page_title_div").hide();'><span>×</span></a></td>
		<tr><td colspan='2'><input name='page_title_value' id='page_title_value' class='input-text' value='' size='30'>&nbsp;<input type='button' class='button' value='提交' onclick=insert_page_title("content",1)></td></tr>
		</table></div></div>  <div class="content_attr"><label><input name="add_introduce" type="checkbox"  value="1" checked>是否截取内容</label><input type="text" name="introcude_length" value="200" size="3">字符至内容摘要
<label><input type='checkbox' name='auto_thumb' value="1" checked>是否获取内容第</label><input type="text" name="auto_thumb_no" value="1" size="2" class="">张图片作为标题图片
</div></td>
    </tr>
	<tr>
      <th width="80">分页方式</th>

      <td><select name="info[paginationtype]" id="paginationtype" onchange="if(this.value==1)$('#paginationtype1').css('display','');else $('#paginationtype1').css('display','none');">
                <option value="0">不分页</option>
                <option value="1">自动分页</option>
                <option value="2">手动分页</option>
            </select>
			<span id="paginationtype1" style="display:none"><input name="info[maxcharperpage]" type="text" id="maxcharperpage" value="10000" size="8" maxlength="8">字符数（包含HTML标记）</span>  </td>

    </tr>

    </tbody></table>

                </div>
        	</div>
        </div>
        
    </div>

<div class="bk15"></div>
<div style="margin:0 20px;text-align:center">
  <input type="submit" style="width:50px;" class="button" name="dosubmit" value="保存">
  <input type="submit" style="width:130px;" class="button" name="dosubmit_continue" value="保存并继续发表">
</div>

</div>

</form>

<script type="text/javascript"> 
<!--
//只能放到最下面
$(function(){
	$.formValidator.initConfig({formid:"myform",autotip:true,onerror:function(msg,obj){window.top.art.dialog({id:'check_content_id',content:msg,lock:true,width:'200',height:'50'}, 	function(){$(obj).focus();
	boxid = $(obj).attr('id');
	if($('#'+boxid).attr('boxid')!=undefined) {
		check_content(boxid);
	}
	})}});
	$("#title").formValidator({onshow:"",onfocus:"请输入标题"}).inputValidator({min:1,max:80,onerror:"标题不能为空"});$("#content").formValidator({onshow:"",onfocus:"内容不能为空"}).functionValidator({
	    fun:function(val,elem){
			var oEditor = CKEDITOR.instances.content;
			var data = oEditor.getData();
	        if($('#islink').attr('checked')){
			    return true;
		    } else if(($('#islink').attr('checked')==false) && (data=='')){
			    return "内容不能为空";
		    } else if (data=='' || $.trim(data)=='') {
				return "内容不能为空";
			}
			return true;
		}
	});	
/*
 * 加载禁用外边链接
 */

	$('#linkurl').attr('disabled',true);
	$('#islink').attr('checked',false);
	$('.edit_content').hide();
	jQuery(document).bind('keydown', 'Alt+x', function (){close_window();});
})
//-->
</script>
