<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title><%block name="title">瑶臣万代网站后台管理</%block></title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="${static_url}/css/reset.css" />
<link rel="stylesheet" type="text/css" href="${static_url}/css/base.css" />
<script language="javascript" type="text/javascript" src="${static_url}/js/jquery.min.js"></script>
<%block name="extrastyle"></%block>
<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="${static_url}/css/ie.css" /><![endif]-->
<%block name="extrahead"></%block>

<script type="text/javascript">

var getWindowSize = function(){
return ["Height","Width"].map(function(name){
  return window["inner"+name] ||
    document.compatMode === "CSS1Compat" && document.documentElement[ "client" + name ] || document.body[ "client" + name ]
});
}

function wSize(){
    //这是一字符串
    var str=getWindowSize();
    var strs= new Array(); //定义一数组
    strs=str.toString().split(","); //字符分割
    var height = strs[0]-80, width = strs[1]-175, Body = $('body');
    $('#left_nav').height(height);   
    /*$('#content_frame').height(height);*/
    $('#content_main').height(height+12);   
    $('#content_main').width(width);   
    //iframe.height = strs[0]-46;
    /*if(strs[1]<980){
        $('.header').css('width',980+'px');
        $('#content').css('width',980+'px');
        Body.attr('scroll','');
        Body.removeClass('objbody');
    }else{
        $('.header').css('width','auto');
        $('#content').css('width','auto');
        Body.attr('scroll','no');
        Body.addClass('objbody');
    }
    
    var openClose = $("#rightMain").height()+39;
    $('#center_frame').height(openClose+9);
    $("#openClose").height(openClose+30);   
    $("#Scroll").height(openClose-20);
    windowW();*/
}


function tm(menuid) {
    $("#left_menu").load("submenu?p="+menuid, {limit: 25}, function(){
       //windowW();
    });
    
    $('.top_menu').removeClass("selected");
    $('#_tmi'+menuid).addClass("selected");
}
</script>

</head>

<body>

<!-- Container -->
<div id="container">

    <!-- Header -->
    <div id="header">
        <div id="branding">
            <%block name="branding">
            <h1 id="site-name">瑶臣万代网站后台管理</h1>
            </%block>
        </div>
        <!-- Top Navigation -->
        <div id="top_nav">
            <ul class="nav">
            % for menu in top_menus:
                <li><a id="_tmi${menu.id}" class="top_menu" href="javascript:tm(${menu.id})">${menu.name}</a></li>
            % endfor
            </ul>
        </div>
        <!-- END Navigation -->

        % if _user.is_active:
        <div id="user-tools">
            <ul class="">
                <li>欢迎<strong>${_user.username}</strong></li>
                <li><a href="password_change/">修改密码</a></li>
                <li><a href="logout/">退出</a></li>
            </ul>
        </div>
        % endif
    </div>
    <!-- END Header -->

    % if messages:
    <ul class="messagelist">
        % for message in messages:
        <li class="message">${message}</li>
        % endfor
    </ul>
    % endif

    <!-- Content -->
    <div id="content" class="<%block name='coltype'>colM</%block>">
        <div class="left_nav">
            <div id="left_menu">
            </div>
        </div>

        <div id="content_main">
          <!--iframe name="content_frame" id="content_frame" src="" frameborder="false" scrolling="auto" style="border:none; margin-bottom:3px" width="100%" height="auto" allowtransparency="true" /-->
        </div>
        <br class="clear" />
    </div>
    <!-- END Content -->

    <%block name="footer"><div id="footer"></div></%block>
</div>
<!-- END Container -->

<script type="text/javascript">
wSize();
</script>
</body>
</html>
