<%inherit file="na_base.html"/>

<div class="content-box">
<form method="post" action="" id="myform" name="myform">
<table width="100%" class="table_form ">
  <thead>
      <tr><th colspan="2">编辑栏目信息</th></tr>
  </thead>
  <tfoot>
      <tr>
          <td colspan="2">
            <input type="submit" class="button" value="提交" name="dosubmit">
          </td>
      </tr>
  </tfoot>

 <tbody>
      <tr>
        <th width="200">${form.parent_id.description}</th>
        <td>
            <select id="parent_id" name="parent_id">
                <option value="">≡ 作为一级栏目 ≡</option>
                % for cate in categories:
                <option value="${cate.id}" ${'selected="selected"' if str(form.d.parent_id) == str(cate.id) else ''}>${cate.prefix+cate.name}</option>
                % endfor
            </select>
        </td>
      </tr>
     
      <tr>
        <th>${form.name.description}</th>
        <td>
            <span id="normal_add"><input type="text" value="${_s(form.d.name)}" class="input-text" id="name" name="name">
            % if form.name.note:
            <div id="catnameTip" class="input-notification error png_bg">${form.name.note}</div>
            % endif
            </span>
		</td>
      </tr>
	<tr id="catdir_tr">
        <th>${form.slug.description}</th>
        <td><input type="text" value="${_s(form.d.slug)}" class="input-text" id="slug" name="slug">
            % if form.slug.note:
            <div id="catdirTip" class="input-notification error png_bg">${form.slug.note}</div>
            % endif
        </td>
      </tr>
	<tr>
        <th>栏目图片：</th>
        <td><script src="http://localhost/pycms/statics/js/swfupload/swf2ckeditor.js" type="text/javascript"></script><input type="text" class="input-text" size="50" value="" id="image" name="info[image]">  <input type="button" value="上传图片" onclick="javascript:flashupload('image_images', '附件上传','image',submit_images,'1,jpg|jpeg|gif|bmp|png,1,,,0','content','','40b5333df0707b621d30f03e0236d899')" class="button"></td>
      </tr>
	<tr>
        <th>描述：</th>
        <td>
		<textarea style="width:300px;height:60px;" maxlength="255" name="info[description]"></textarea>
		</td>
      </tr>
    </tbody>
</table>

</form>
</div>
