<%inherit file="na_base.html"/>

<ul class="shortcut-buttons-set">
    <li><a class="shortcut-button" href="../category/add"><span>添加一级栏目</span></a></li>
</ul>

<div class="clear"></div>

<div class="content-box">
<form name="myform" action="?m=admin&c=category&a=listorder" method="post">
    <table width="100%" cellspacing="0" >
        <thead>
            <tr>
            <th width="30">cid</th>
            <th>栏目名称</th>
            <th>英文缩写</th>
            <th>数据量</th>
          	<th>管理操作</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td colspan="5">
                    <div class="bulk-actions align-left">
                        <select name="dropdown">
                            <option value="option1">选择一个操作...</option>
                            <option value="option3">删除</option>
                        </select>
                        <a class="button" href="#">执行</a>
                    </div>
                    <div class="clear"></div>
                </td>
            </tr>
        </tfoot>
        <tbody>
            % for cate in categories:
            <tr>
                <td>${cate.id}</td>
                <td>${cate.prefix+cate.name}</td>
                <td>${cate.slug}</td>
                <td align='center'></td>
                <td align='center' >
                    <a href="add?parent_id=${cate.id}" title="添加子栏目"><img src="${static_url}/images/icons/child_node.png" alt="添加子栏目" /></a>
                    <a href="${cate.id}/edit" title="修改"><img src="${static_url}/images/icons/pencil.png" alt="修改" /></a>
                    <a href="javascript:confirmurl('${cate.id}/delete?1=1','确认要删除${cate.name}吗？')" title="删除"><img src="${static_url}/images/icons/cross.png" alt="删除" /></a> 
                </td>
		    </tr>
            % endfor
		</tbody>
    </table>

</form>
</div>
