<%inherit file="na_base.html"/>
			<!-- Page Head -->
			<p id="page-intro"></p>
			<p id="page-intro">您可以</p>

            <p>
			<ul class="shortcut-buttons-set">
				
				<li><a class="shortcut-button" href="news/add"><span>
                        <img src="${static_url}/images/icons/paper_content_pencil_48.png" alt="icon" /><br />
                        添加新闻
				</span></a></li>
				
				<li><a class="shortcut-button" href="user/add"><span>
					<img src="${static_url}/images/icons/pencil_48.png" alt="icon" /><br />
					创建用户
				</span></a></li>
				
            </ul><!-- End .shortcut-buttons-set -->
            </p>
			
			<div class="clear"></div> <!-- End .clear -->
