<%inherit file="field_base.html"/>

<form method="post" action="" id="myform" name="myform">
<input type="hidden" name="mid" value="${mid}">
<div class="pad-10">
<div class="col-tab">
<div class="contentList pad-10" id="div_setting_1" style="display: block;">

<table width="100%" class="table_form ">
 <tbody>
   <tr>
        <th>${form.type.description}</th>
        <td>
          <span id="normal_add">
            <select onchange="" id="type" name="type">
                <option value="">=请选择类型=</option>
                <option value="string" ${'selected="selected"' if str(form.d.type) == 'string' else ''}>字符串</option>
                <option value="integer" ${'selected="selected"' if str(form.d.type) == 'integer' else ''}>整数</option>
            </select>
            % if form.type.note:
            <div id="catnameTip" class="onShow">${form.type.note}</div>
            % endif
          </span>
		</td>
   </tr>
   <tr>
        <th>${form.title.description}</th>
        <td>
            <span id="normal_add"><input type="text" value="${_s(form.d.title)}" class="input-text" id="name" name="title">
                % if form.title.note:
                <div id="catnameTip" class="onShow">${form.title.note}</div>
                % endif
            </span>
		</td>
    </tr>
    <tr>
        <th>${form.length.description}</th>
        <td>
            <span id="normal_add"><input type="text" value="${_s(form.d.length)}" class="input-text" id="length" name="length">
                % if form.length.note:
                <div id="catnameTip" class="onShow">${form.length.note}</div>
                % endif
            </span>
		</td>
   </tr>
   <tr>
        <th>${form.name.description}</th>
        <td>
            <span id="normal_add"><input type="text" value="${_s(form.d.name)}" class="input-text" id="name" name="name">
                % if form.name.note:
                <div id="catnameTip" class="onShow">${form.name.note}</div>
                % endif
            </span>
		</td>
    </tr>
	<tr>
        <th>描述：</th>
        <td>
		<textarea style="width:300px;height:60px;" maxlength="255" name="description"></textarea>
		</td>
      </tr>
</tbody>
</table>

</div>

 <div class="bk15"></div>
	<input type="hidden" value="" name="catid">
  <input type="submit" class="button" value="提交" name="dosubmit">
</div>
</div>
<input type="hidden" name="pc_hash" value="6armko">
</form>
