<%inherit file="field_base.html"/>

<form name="myform" action="?m=admin&c=category&a=listorder" method="post">
<div class="pad_10">
<div class="bk10"></div>

<div class="table-list">
    <table width="100%" cellspacing="0" >
        <thead>
            <tr>
            <th width="30">tid</th>
            <th>属性名称</th>
            <th>属性代码</th>
            <th>属性类型</th>
            <th>属性长度</th>
            <th>是否必需</th>
       		<th>管理操作</th>
            </tr>
        </thead>
    <tbody>
    % for field in fields:
      <tr>
         <td>${field.id}</td>
         <td>${field.title}</td>
         <td>${field.name}</td>
         <td>${field.type}</td>
         <td>${field.length}</td>
         <td>${_yn(field.required)}</td>
         <td align='center' > <a href="${field.id}/edit?mid=${mid}">修改</a> | <a href="javascript:confirmurl('${field.id}/delete?mid=${mid}','确认要删除${field.name}吗？')">删除</a></td>
      </tr>
    % endfor
	</tbody>
    </table>

    <div class="btn">
	<input type="hidden" name="pc_hash" value="6armko" />
	</div>  </div>
</div>
</div>
</form>
