<%inherit file="na_base.html"/>
<ul class="shortcut-buttons-set">
    <li><a class="shortcut-button" href="../group/add"><span>添加组</span></a></li>
</ul>

<div class="clear"></div>

<div class="content-box">
<form name="myform" action="" method="post">
    <table width="100%" cellspacing="0" >
        <thead>
            <tr>
            <th width="30">gid</th>
            <th>组名</th>
            <th>用户数</th>
       		<th>管理操作</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td colspan="6">
                    <div class="bulk-actions align-left">
                        <select name="dropdown">
                            <option value="option1">选择一个操作...</option>
                            <option value="option3">删除</option>
                        </select>
                        <a class="button" href="#">执行</a>
                    </div>
                    <div class="clear"></div>
                </td>
            </tr>
        </tfoot>
        <tbody>
        % for group in groups:
          <tr>
             <td>${group.id}</td>
             <td>${group.name}</td>
             <td>${len(group.users)}</td>
             <td align='center' >
                <a href="${group.id}/edit" title="修改"><img src="${static_url}/images/icons/pencil.png" alt="修改" /></a>
                <a href="javascript:confirmurl('${group.id}/delete?1=1','确认要删除${group.name}吗？')" title="删除"><img src="${static_url}/images/icons/cross.png" alt="删除" /></a> 
             </td>
          </tr>
        % endfor
		</tbody>
    </table>
</form>
</div>
