<%inherit file="na_base.html"/>

<link href="${static_url}/css/admin/widgets.css" rel="stylesheet" type="text/css" />
<script language="javascript" type="text/javascript" src="${static_url}/js/core.js"></script>
<script language="javascript" type="text/javascript" src="${static_url}/js/SelectBox.js"></script>
<script language="javascript" type="text/javascript" src="${static_url}/js/SelectFilter2.js"></script>

<div class="content-box">
<form method="post" action="" id="myform" name="myform" onsubmit="SelectBox.select_all('id_users_to')">
  <table width="100%" class="table_form ">
  <thead>
      <tr><th colspan="2">编辑组信息</th></tr>
  </thead>
  <tfoot>
      <tr>
          <td colspan="2">
            <input type="submit" class="button" value="提交" name="dosubmit">
          </td>
      </tr>
  </tfoot>

  <tbody>
    % for input in form.inputs:
    <tr>
      <th>${'<font color="red">*</font>' if input.required else ''}${input.description}</th>
      <td>
          <span id="normal_add">
              ${input.render()}
          </span>
      </td>
    </tr>
    % endfor
    <tr>
      <th>用户</th>
      <td>
          <span id="normal_add">
              <select id="id_users" name="users" class="filtered" multiple="multiple">
                  % for user in users:
                  <option value="${user.id}" ${"selected='selected'" if user in group_users else ""}>${user.username}</option>
                  % endfor
              </select>
              <script type="text/javascript">
                  addEvent(window, "load", function(e) {SelectFilter.init("id_users", "用户", 0, "${static_url}/images/"); });
              </script>
          </span>
      </td>
    </tr>

  </tbody>
</table>
</form>
</div>
