<%inherit file="group_base.html"/>

<form name="myform" action="" method="post">
<div class="pad_10">
<div class="bk10"></div>

<div class="table-list">
    <table width="100%" cellspacing="0" >
        <thead>
            <tr>
            <th width="30">gid</th>
            <th>用户组名</th>
            <th>用户数</th>
       		<th>管理操作</th>
            </tr>
        </thead>
    <tbody>
    % for group in groups:
      <tr>
         <td>${group.id}</td>
         <td>${group.name}</td>
         <td>${len(group.users)}</td>
         <td align='center' > <a href="${group.id}/edit">修改</a> | <a href="javascript:confirmurl('${group.id}/delete?1=1','确认要删除${group.name}吗？')">删除</a></td>
      </tr>
    % endfor
				</tbody>
    </table>

    <div class="btn">
	<input type="hidden" name="pc_hash" value="6armko" />
	</div>  </div>
</div>
</div>
</form>
