<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Pycms管理</title>
<link rel="stylesheet" href="${static_url}/css/admin/reset.css" type="text/css" media="screen" />
<link rel="stylesheet" href="${static_url}/css/admin/style.css" type="text/css" media="screen" />
<link rel="stylesheet" href="${static_url}/css/admin/invalid.css" type="text/css" media="screen" />	
<script type="text/javascript" src="${static_url}/js/jquery-1.7.min.js"></script>
<script type="text/javascript" src="${static_url}/js/simpla.jquery.configuration.js"></script>
<script type="text/javascript" src="${static_url}/js/facebox.js"></script>
<script type="text/javascript" src="${static_url}/js/jquery.wysiwyg.js"></script>
<script type="text/javascript" src="${static_url}/js/jquery.date.js"></script>
<script>

if(!Array.prototype.map)
Array.prototype.map = function(fn,scope) {
  var result = [],ri = 0;
  for (var i = 0,n = this.length; i < n; i++){
    if(i in this){
      result[ri++]  = fn.call(scope ,this[i],i,this);
    }
  }
return result;
};

var getWindowSize = function(){
  return ["Width", "Height"].map(function(name){
    return window["inner"+name] ||
      document.compatMode === "CSS1Compat" && document.documentElement[ "client" + name ] || document.body[ "client" + name ]
  });
};

$(document).ready(function(){
    var size = getWindowSize();
    $("#main").height(size[1]-35);
    $("#tm0").click();
});

function go(mid,url) {
    $("#main").attr('src', url);
    $('.nav-top-item').removeClass("current");
    $('.nav-subitem').removeClass("current");
    if($('#tm'+mid).length > 0)
        $('#tm'+mid).addClass("current");
    if($('#sm'+mid).length >0){
        $('#sm'+mid).addClass("current");
        $('#sm'+mid).parent().parent().prev().addClass("current");
    }
}
</script>
</head>
	<body class="site-body"><div id="site-body-wrapper"> <!-- Wrapper for the radial gradient background -->
		
		<div id="sidebar"><div id="sidebar-wrapper"> <!-- Sidebar with logo and menu -->
			
			<h1 id="sidebar-title"><a href="#">Pycms管理</a></h1>
		  
			<!-- Logo (221px wide) -->
			<a href="#"><img id="logo" src="${static_url}/images/logo.png" alt="Pycms管理" /></a>
		  
			<!-- Sidebar Profile links -->
			<div id="profile-links">
				您好, <a href="#" title="Edit your profile">${_user.username}</a>,
				<a href="#" title="站点首页">站点首页</a> | <a href="logout" title="退出">退出</a>
			</div>        
			
			<ul id="main-nav">  <!-- Accordion Menu -->
				<li>
					<a href="javascript:go(0,'dashboard')" class="nav-top-item no-submenu" id="tm0">中心面板</a>       
				</li>
				
                % for menu in top_menus:
				<li> 
                <a href="#" class="nav-top-item" id="tm${menu.id}">${menu.name}</a>
                % if len(menu.children) > 0:
					<ul>
                    % for submenu in menu.children:
                    <li><a href="javascript:go(${submenu.id},'${submenu.url()}')" class="nav-subitem" id="sm${submenu.id}">${submenu.name}</a></li>
                    % endfor
					</ul>
                % endif
				</li>
                % endfor

			</ul> <!-- End #main-nav -->
			
		</div></div> <!-- End #sidebar -->
		
		<div id="site-main-content"> <!-- Main Content Section with everything -->
			
			
            <iframe name="main" id="main" src="" frameborder="true" scrolling="auto" style="border:2px" width="100%" height="auto" allowtransparency="true"></iframe>
			
			<div class="clear"></div>
			
			
			
			<div id="footer">
				<small> <!-- Remove this notice or replace it with whatever you want -->
						&#169; Copyright 2011 瑶臣万代 | Powered by <a href="http://themeforest.net/item/simpla-admin-flexible-user-friendly-admin-skin/46073">Pycms管理</a> | <a href="#">Top</a>
				</small>
			</div><!-- End #footer -->
			
		</div> <!-- End #main-content -->
	</div></body>
</html>
