<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Pycms管理 | 登录</title>
<link rel="stylesheet" href="${static_url}/css/admin/reset.css" type="text/css" media="screen" />
<link rel="stylesheet" href="${static_url}/css/admin/style.css" type="text/css" media="screen" />
<link rel="stylesheet" href="${static_url}/css/admin/invalid.css" type="text/css" media="screen" />	
<script type="text/javascript" src="${static_url}/js/jquery-1.7.min.js"></script>
<script type="text/javascript" src="${static_url}/js/simpla.jquery.configuration.js"></script>
<script type="text/javascript" src="${static_url}/js/facebox.js"></script>
<script type="text/javascript" src="${static_url}/js/jquery.wysiwyg.js"></script>
<script>
    $(document).ready(function(){
        $("#username").focus();
    });
</script>
</head>
  
	<body id="login">
		
		<div id="login-wrapper" class="png_bg">
			<div id="login-top">
			
				<h1>Pycms管理</h1>
				<!-- Logo (221px width) -->
				<img id="logo" src="${static_url}/images/logo.png" alt="Pycms管理" />
			</div> <!-- End #logn-top -->
			
			<div id="login-content">
				
				<form action="" method="post">
	                % if form.note:
					<div class="notification information png_bg">
						<div>
                        ${form.note}
						</div>
					</div>
                    % endif
					<p>
						<label>用户名</label>
						<input id="username" class="text-input" name="username" type="text" value="${_s(form.d.username)}"/>
                        % if form.username.note:
                        <span class="input-notification error png_bg">${form.username.note}</span>
                        % endif
					</p>
					<div class="clear"></div>
					<p>
						<label>口令</label>
                        <input class="text-input" name="password" type="password" />
                        % if form.password.note:
                        <span class="input-notification error png_bg">${form.password.note}</span>
                        % endif
					</p>
					<div class="clear"></div>
					<!--p id="remember-password">
						<input type="checkbox" />记住我
					</p>
					<div class="clear"></div-->
					<p style="text-align: center;">
						<input class="button" type="submit" value="登录" />
					</p>
					
				</form>
			</div> <!-- End #login-content -->
			
		</div> <!-- End #login-wrapper -->
  </body>
</html>
