<%inherit file="na_base.html"/>

<div class="content-box">
<form method="post" action="" id="myform" name="myform">
<table width="100%" class="table_form ">
  <thead>
      <tr><th colspan="2">编辑模型信息</th></tr>
  </thead>
  <tfoot>
      <tr>
          <td colspan="2">
            <input type="submit" class="button" value="提交" name="dosubmit">
          </td>
      </tr>
  </tfoot>

 <tbody>
    <tr>
        <th>${form.title.description}</th>
        <td>
            <span id="normal_add"><input type="text" value="${_s(form.d.title)}" class="input-text" id="name" name="title">
                % if form.title.note:
                <div id="catnameTip" class="onShow">${form.title.note}</div>
                % endif
            </span>
		</td>
    </tr>
    <tr>
        <th>${form.name.description}</th>
        <td>
            <span id="normal_add"><input type="text" value="${_s(form.d.name)}" class="input-text" id="name" name="name">
                % if form.name.note:
                <div id="catnameTip" class="onShow">${form.name.note}</div>
                % endif
            </span>
		</td>
    </tr>
	<tr>
        <th width="200">${form.template_id.description}</th>
        <td>
            <select onchange="change_tpl(this.value)" id="template_id" name="template_id">
                <option value="">=请选择模板=</option>
                % for t in templates:
                <option value="${t.id}" ${'selected="selected"' if str(form.d.template_id) == str(t.id) else ''}>${t.name}</option>
                % endfor
            </select>
            % if form.template_id.note:
            <div id="modelidTip" class="onShow">${form.template_id.note}</div>
            % endif
        </td>
    </tr>

	<tr>
        <th>描述</th>
        <td>
		<textarea style="width:300px;height:60px;" maxlength="255" name="description"></textarea>
		</td>
    </tr>

% if _ac!='add':
	<tr>
        <td colspan="2">
        <table>
            <thead>
                <tr>
                <th width="30">tid</th>
                <th>属性名称</th>
                <th>属性代码</th>
                <th>属性类型</th>
                <th>属性长度</th>
                <th>是否必需</th>
                <th>管理操作</th>
                </tr>
            </thead>
        <tbody>
        % for field in fields:
          <tr>
             <td>${field.id}</td>
             <td>${field.title}</td>
             <td>${field.name}</td>
             <td>${field.type}</td>
             <td>${field.length}</td>
             <td>${_yn(field.required)}</td>
             <td align='center' > <a href="../../field/${field.id}/edit?mid=${field.model_id}">修改</a> | <a href="javascript:confirmurl('../../field/${field.id}/delete?mid=${field.model_id}','确认要删除${field.name}吗？')">删除</a></td>
          </tr>
        % endfor
        </tbody>
        </table>
		</td>
    </tr>

	<tr>
        <td colspan="2">
        <table width="100%" cellspacing="0" >
            <thead>
                <tr>
                <th width="30">tid</th>
                <th>关联名称</th>
                <th>关联代码</th>
                <th>关联类型</th>
                <th>目的模型</th>
                <th>反向引用</th>
                <th>管理操作</th>
                </tr>
            </thead>
        <tbody>
        % for relation in relations:
          <tr>
             <td>${relation.id}</td>
             <td>${relation.title}</td>
             <td>${relation.name}</td>
             <td>${relation.type}</td>
             <td>${relation.target}</td>
             <td>${relation.backref}</td>
             <td align='center' > <a href="../../relation/${relation.id}/edit?mid=${relation.model_id}">修改</a> | <a href="javascript:confirmurl('../../relation/${relation.id}/delete?mid=${relation.model_id}','确认要删除${relation.name}吗？')">删除</a></td>
          </tr>
        % endfor
        </tbody>
        </table>
		</td>
    </tr>
% endif


  </tbody>
</table>

</form>
</div>
