<%inherit file="na_base.html"/>

<div class="content-box">
    <div class="content-box-header">
        <h4>模型基本信息</h4>
        <div class="clear"></div>
    </div>
    <div class="content-box-content">
        <div class="tab-content default-tab">
        <form method="post" action="" id="myform" name="myform">
        <table width="100%" class="table_form ">
          <tfoot>
              <tr>
                  <td colspan="2">
                    <input type="submit" class="button" value="提交" name="dosubmit">
                  </td>
              </tr>
          </tfoot>

          <tbody>
            % for input in form.inputs:
            <tr>
              <th width="80">${'<font color="red">*</font>' if input.required else ''}${input.description}</th>
              <td>
                  % if input.name == 'template_id':
                    <select onchange="change_tpl(this.value)" id="template_id" name="template_id">
                        <option value="">=请选择模板=</option>
                        % for t in templates:
                        <option value="${t.id}" ${'selected="selected"' if str(form.d.template_id) == str(t.id) else ''}>${t.name}</option>
                        % endfor
                    </select>
                    % if input.note:
                    <div class="input-notification error png_bg">${input.note}</div>
                    % endif
                  % else:
                    ${input.render()}
                  % endif
              </td>
            </tr>
            % endfor
          </tbody>
        </table>
        </form>

        </div>
    </div>
</div>

% if _ac!='add':
<div class="content-box">
    <div class="content-box-header">
        <h4>属性信息</h4>
        <div class="clear"></div>
    </div>
    <div class="content-box-content">
        <div class="tab-content default-tab">
        <form method="post" action="" id="myform" name="myform">
        <table width="100%" class="table_form ">
            <thead>
                <tr>
                <th>属性名称</th>
                <th>属性代码</th>
                <th>属性类型</th>
                <th>属性长度</th>
                <th>是否必需</th>
                <th>管理操作</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <td colspan="7">
                        <div class="bulk-actions align-left">
                            <a class="button" href="../../field/add?mid=${mid}">添加属性</a>
                        </div>
                        <div class="clear"></div>
                    </td>
                </tr>
            </tfoot>

            <tbody>
            % for field in fields:
              <tr>
                 <td>${field.title}</td>
                 <td>${field.name}</td>
                 <td>${_typetext(field.type)}</td>
                 <td>${field.length}</td>
                 <td>${_yn(field.required)}</td>
                 <td align='center' >
                    <a href="${admin_url}/field/${field.id}/edit?mid=${field.model_id}" title="修改"><img src="${static_url}/images/icons/pencil.png" alt="修改" /></a>
                    <a href="javascript:confirmurl('${admin_url}/field/${field.id}/delete?mid=${field.model_id}','确认要删除${field.name}吗？')" title="删除"><img src="${static_url}/images/icons/cross.png" alt="删除" /></a> 
                 </td>
              </tr>
            % endfor
            </tbody>
        </table>
        </form>

        </div>
    </div>
</div>

<div class="content-box">
    <div class="content-box-header">
        <h4>关联信息</h4>
        <div class="clear"></div>
    </div>
    <div class="content-box-content">
        <div class="tab-content default-tab">
        <form method="post" action="" id="myform" name="myform">
        <table width="100%" class="table_form ">
            <thead>
                <tr>
                <th>关联名称</th>
                <th>关联代码</th>
                <th>关联类型</th>
                <th>目的模型</th>
                <th>反向引用</th>
                <th>管理操作</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <td colspan="7">
                        <div class="bulk-actions align-left">
                            <a class="button" href="../../relation/add?mid=${mid}">添加关联</a>
                        </div>
                        <div class="clear"></div>
                    </td>
                </tr>
            </tfoot>
            <tbody>
            % for relation in relations:
              <tr>
                 <td>${relation.title}</td>
                 <td>${relation.name}</td>
                 <td>${relation.type}</td>
                 <td>${relation.target}</td>
                 <td>${relation.backref}</td>
                 <td align='center' >
                    <a href="${admin_url}/relation/${relation.id}/edit?mid=${relation.model_id}" title="修改"><img src="${static_url}/images/icons/pencil.png" alt="修改" /></a>
                    <a href="javascript:confirmurl('${admin_url}/relation/${relation.id}/delete?mid=${relation.model_id}','确认要删除${relation.name}吗？')" title="删除"><img src="${static_url}/images/icons/cross.png" alt="删除" /></a> 
                </td>
              </tr>
              % endfor
            </tbody>
        </table>
        </form>
        </div>
    </div>
</div>
% endif
