<%inherit file="na_base.html"/>
<ul class="shortcut-buttons-set">
    <li><a class="shortcut-button" href="../model/add"><span>添加模型</span></a></li>
</ul>

<div class="clear"></div>

<div class="content-box">
<form name="myform" action="?m=admin&c=category&a=listorder" method="post">
    <table width="100%" cellspacing="0" >
        <thead>
            <tr>
            <th width="30">mid</th>
            <th>模型名称</th>
            <th>模型代码</th>
            <th>模板名称</th>
            <th>是否激活</th>
       		<th>管理操作</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td colspan="5">
                    <div class="bulk-actions align-left">
                        <select name="dropdown">
                            <option value="option1">选择一个操作...</option>
                            <option value="option3">删除</option>
                        </select>
                        <a class="button" href="#">执行</a>
                    </div>
                    <div class="clear"></div>
                </td>
            </tr>
        </tfoot>
        <tbody>
        % for model in models:
          <tr>
             <td>${model.id}</td>
             <td>${model.title}</td>
             <td>${model.name}</td>
             <td>${model.template.name}</td>
             <td>${_yn(model.is_active)}</td>
             <td align='center' >
                <a href="${model.id}/edit" title="修改"><img src="${static_url}/images/icons/pencil.png" alt="修改" /></a>
                <a href="javascript:confirmurl('${model.id}/delete?1=1','确认要删除${model.title}吗？')" title="删除"><img src="${static_url}/images/icons/cross.png" alt="删除" /></a> 
               % if model.is_active:
                <a href="${model.id}/drop_table" title="删除模型表"><img src="${static_url}/images/icons/gear_disable.png" alt="删除模型表" /></a>
               % else:
                <a href="${model.id}/create_table" title="创建模型表"><img src="${static_url}/images/icons/gear_enable.png" alt="创建模型表" /></a>
               % endif
             </td>
          </tr>
        % endfor
        </tbody>
    </table>
</form>
</div>
