<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=7" />
<title>PyCMS 后台管理中心</title>
<link rel="stylesheet" href="${static_url}/css/admin/reset.css" type="text/css" media="screen" />
<link rel="stylesheet" href="${static_url}/css/admin/style.css" type="text/css" media="screen" />
<link rel="stylesheet" href="${static_url}/css/admin/invalid.css" type="text/css" media="screen" />	
<script type="text/javascript" src="${static_url}/js/jquery-1.7.min.js"></script>
<script type="text/javascript" src="${static_url}/js/simpla.jquery.configuration.js"></script>
<script type="text/javascript" src="${static_url}/js/facebox.js"></script>
<script type="text/javascript" src="${static_url}/js/jquery.wysiwyg.js"></script>
<script type="text/javascript" src="${static_url}/js/jquery.date.js"></script>
<script type="text/javascript" src="${static_url}/js/admin_common.js"></script>
</head>
<body>
<div id="body-wrapper"> <!-- Wrapper for the radial gradient background -->
    <div id="main-content"> <!-- Main Content Section with everything -->
    ${next.body()}
    </div>
</div>
</body>
</html>
