<%inherit file="na_base.html"/>
<ul class="shortcut-buttons-set">
    <li><a class="shortcut-button" href="${admin_url}/model/${mid}/edit"><span>返回"${mtitle}"模型属性页</span></a></li>
</ul>

<div class="clear"></div>
<div class="content-box">
<form method="post" action="" id="myform" name="myform">
<input type="hidden" name="mid" value="${mid}">
<table width="100%" class="table_form ">
  <thead>
      <tr><th colspan="2">编辑关联信息</th></tr>
  </thead>

  <tfoot>
    <tr>
      <td colspan="2">
        <input type="submit" class="button" value="提交" name="dosubmit">
      </td>
    </tr>
  </tfoot>

  <tbody>
    % for input in form.inputs:
    <tr>
      <th width="80">${'<font color="red">*</font>' if input.required else ''}${input.description}</th>
      <td>
          % if input.name == 'type':
            <select onchange="" id="type" name="type">
                <option value="">=请选择类型=</option>
                <option value="one-to-one" ${'selected="selected"' if str(form.d.type) == 'one-to-one' else ''}>一对一</option>
                <option value="many-to-one" ${'selected="selected"' if str(form.d.type) == 'many-to-one' else ''}>多对一</option>
                <option value="many-to-many" ${'selected="selected"' if str(form.d.type) == 'many-to-many' else ''}>多对多</option>
            </select>
            % if input.note:
            <div class="input-notification error png_bg">${input.note}</div>
            % endif
          % elif input.name == 'target':
            <select onchange="" id="target" name="target">
                <option value="">=请选择目的模型=</option>
            % for model in models:
                % if model.id != int(mid):
                <option value="${model.name}" ${'selected="selected"' if input.get_value() == model.name else ''}>${model.title}</option>
                % endif
            % endfor
            </select>
            % if input.note:
            <div class="input-notification error png_bg">${input.note}</div>
            % endif

          % else:
            ${input.render()}
          % endif
      </td>
    </tr>
    % endfor
  </tbody>
</table>
</form>
</div>
