<%inherit file="na_base.html"/>
<ul class="shortcut-buttons-set">
    <li><a class="shortcut-button" href="../template/add"><span>添加模板</span></a></li>
</ul>

<div class="clear"></div>

<div class="content-box">
<form name="myform" action="?m=admin&c=category&a=listorder" method="post">
    <table width="100%" cellspacing="0" >
        <thead>
            <tr>
            <th width="30">tid</th>
            <th>模板名称</th>
            <th>频道页</th>
            <th>列表页</th>
            <th>内容页</th>
       		<th>管理操作</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td colspan="6">
                    <div class="bulk-actions align-left">
                        <select name="dropdown">
                            <option value="option1">选择一个操作...</option>
                            <option value="option3">删除</option>
                        </select>
                        <a class="button" href="#">执行</a>
                    </div>
                    <div class="clear"></div>
                </td>
            </tr>
        </tfoot>
        <tbody>
        % for template in templates:
          <tr>
             <td>${template.id}</td>
             <td>${template.name}</td>
             <td>${template.index_file}</td>
             <td>${template.list_file}</td>
             <td>${template.display_file}</td>
             <td align='center' > 
                <a href="${template.id}/edit" title="修改"><img src="${static_url}/images/icons/pencil.png" alt="修改" /></a>
                <a href="javascript:confirmurl('${template.id}/delete?1=1','确认要删除${template.name}吗？')" title="删除"><img src="${static_url}/images/icons/cross.png" alt="删除" /></a> 
             </td>
          </tr>
        % endfor
	    </tbody>
    </table>

</form>
</div>
