<%inherit file="template_base.html"/>

<form method="post" action="?m=admin&amp;c=category&amp;a=add" id="myform" name="myform">
<div class="pad-10">
<div class="col-tab">
<div class="contentList pad-10" id="div_setting_1" style="display: block;">

<table width="100%" class="table_form ">
 <tbody>
    <tr>
        <th>模板名称：</th>
        <td>
        <span id="normal_add"><input type="text" value="${_s(form.d.name)}" class="input-text" id="name" name="name"><div id="catnameTip" class="onShow">请输入栏目名称</div></span>
		</td>
    </tr>
	  <tr>
        <th>模板文件：</th>
        <td><script src="http://localhost/phpcms/statics/js/swfupload/swf2ckeditor.js" type="text/javascript"></script><input type="text" class="input-text" size="50" value="${_s(form.d.file)}" id="file" name="file">  <input type="button" value="上传模板" onclick="javascript:flashupload('image_images', '附件上传','image',submit_images,'1,jpg|jpeg|gif|bmp|png,1,,,0','content','','40b5333df0707b621d30f03e0236d899')" class="button"></td>
      </tr>
	<tr>
        <th>描述：</th>
        <td>
		<textarea style="width:300px;height:60px;" maxlength="255" name="info[description]"></textarea>
		</td>
      </tr>
</tbody>
</table>

</div>

 <div class="bk15"></div>
	<input type="hidden" value="" name="catid">
  <input type="submit" class="button" value="提交" name="dosubmit">
</div>
</div>
<input type="hidden" name="pc_hash" value="6armko">
</form>
