<%inherit file="user_base.html"/>
<ul class="shortcut-buttons-set">
    <li><a class="shortcut-button" href="../user/add"><span>添加用户</span></a></li>
</ul>
<div class="clear"></div>

<div class="content-box">
<form name="myform" action="?m=admin&c=category&a=listorder" method="post">
    <table>
        <thead>
            <tr>
                <th><input class="check-all" type="checkbox" /></th>
                <th width="30">uid</th>
                <th>用户名</th>
                <th>电子邮件</th>
                <th>是否激活</th>
                <th>是否超级用户</th>
                <th>管理操作</th>
            </tr>
        </thead>
     
        <tfoot>
            <tr>
                <td colspan="6">
                    <div class="bulk-actions align-left">
                        <select name="dropdown">
                            <option value="option1">选择一个操作...</option>
                            <option value="option3">删除</option>
                        </select>
                        <a class="button" href="#">执行</a>
                    </div>
                    
                    <div class="pagination">
                        <a href="#" title="First Page">&laquo;首页</a><a href="#" title="Previous Page">&laquo;上一页</a>
                        <a href="#" class="number" title="1">1</a>
                        <a href="#" class="number" title="2">2</a>
                        <a href="#" class="number current" title="3">3</a>
                        <a href="#" class="number" title="4">4</a>
                        <a href="#" title="Next Page">下一页&raquo;</a><a href="#" title="Last Page">末页&raquo;</a>
                    </div> <!-- End .pagination -->
                    <div class="clear"></div>
                </td>
            </tr>
        </tfoot>
     
        <tbody>
        % for user in users:
        <tr>
            <td><input type="checkbox" /></td>
            <td>${user.id}</td>
            <td>${user.username}</td>
            <td>${user.email}</td>
            <td>${_yn(user.is_active)}</td>
            <td>${_yn(user.is_superuser)}</td>
            <td>
                <!-- Icons -->
                <a href="${user.id}/edit" title="修改"><img src="${static_url}/images/icons/pencil.png" alt="修改" /></a>
                <a href="javascript:confirmurl('${user.id}/delete?1=1','确认要删除${user.username}吗？')" title="删除"><img src="${static_url}/images/icons/cross.png" alt="删除" /></a> 
            </td>
        </tr>
        % endfor

        </tbody>
    </table>
</form>
</div>
