<%inherit file="base.html"/>
<%namespace file="lib/entity.html" import="*"/>

<div class="wrap-line">
<div class="slide">
<div class="FocusPic">
<div id="main-slide" class="content" style="width: 301px; height: 240px;">
    <div class="changeDiv">  
    <a title="北京地铁15号线：54条公交线..." href="/china_1228/768.html" style="display: none;"><img width="301" height="240" alt="北京地铁15号线：54条公交线接驳(图)" src="${static_url}/upload/thumb_310_260_20101228042521566.jpg"></a>
    <a title="年底前快递行业迎来“春运”(图)" href="/china_1228/767.html" style="display: none;"><img width="301" height="240" alt="年底前快递行业迎来“春运”(图)" src="${static_url}/upload/thumb_310_260_20101228042519351.jpg"></a>
    <a title="英报评出2010名人惊吓照 卡..." href="" style="display: inline;"><img width="301" height="240" alt="英报评出2010名人惊吓照 卡米拉受惊照片居首" src="${static_url}/upload/20101228042501517.jpg"></a>
    <a title="威廉王子订婚纪念币公布 准..." href="" style="display: none;"><img width="301" height="240" alt="威廉王子订婚纪念币公布 准新娘被指不像本人" src="${static_url}/upload/20101228042459904.jpg"></a>
    <a title="美国防部长意外获得音乐界风..." href="" style="display: none;"><img width="301" height="240" alt="美国防部长意外获得音乐界风云人物奖" src="${static_url}/upload/20101228042457526.jpg"></a>
    </div>
</div>
</div>
</div>

<div class="box ccat-area" style=" margin-right:3px">
  <h5 class="title-1">新闻<a href=
  "http://localhost/entity" class=
  "more">更多&gt;&gt;</a></h5>
  <div class="content">
    <ul class="list lh24 f14">
      ${latest_entities('news', 1, 5)}
    </ul>
  </div>
</div>

<div class="box rcat-area" style=" margin-right:3px">
  <h5 class="title-1">评论</h5>
  <div class="content">
  <ul class="list lh24 f14">
  <li>·<a style="" title="1111111111" target="_blank" href="/guonei_0811/1628.html">1111111111</a></li>
  <li>·<a style="" title="国内地板行业的“隐形冠军”" target="_blank" href="/caijing_0708/1627.html">国内地板行业的“隐形冠军”</a></li>
  <li>·<a style="" title="韩国对中国陶瓷反倾销有失公平" target="_blank" href="/caijing_0708/1626.html">韩国对中国陶瓷反倾销有失公平</a></li>
  <li>·<a style="" title="洋品牌水土不服 国产净水器" target="_blank" href="/caijing_0708/1625.html">洋品牌水土不服 国产净水器</a></li>
  <li>·<a style="" title="低碳环保风将竹地板推向潮流" target="_blank" href="/caijing_0708/1624.html">低碳环保风将竹地板推向潮流</a></li>
  <li>·<a style="" title="韩国对中国陶瓷反倾销有失公平" target="_blank" href="/caijing_0708/1626.html">韩国对中国陶瓷反倾销有失公平</a></li>
  <li>·<a style="" title="洋品牌水土不服 国产净水器" target="_blank" href="/caijing_0708/1625.html">洋品牌水土不服 国产净水器</a></li>
  <li>·<a style="" title="低碳环保风将竹地板推向潮流" target="_blank" href="/caijing_0708/1624.html">低碳环保风将竹地板推向潮流</a></li>
  </ul>
  </div>
</div>
</div>

<div class="bk3"></div>

<div class="wrap-line">
<div class="box lcat-area" style=" margin-right:3px">
  <h5 class="title-1">企业动态<a href=
  "http://localhost/entity" class=
  "more">更多&gt;&gt;</a></h5>
  <div class="content">
  <ul class="list lh24 f14">
  <li>·<a style="" title="1111111111" target="_blank" href="/guonei_0811/1628.html">1111111111</a></li>
  <li>·<a style="" title="国内地板行业的“隐形冠军”" target="_blank" href="/caijing_0708/1627.html">国内地板行业的“隐形冠军”</a></li>
  <li>·<a style="" title="韩国对中国陶瓷反倾销有失公平" target="_blank" href="/caijing_0708/1626.html">韩国对中国陶瓷反倾销有失公平</a></li>
  <li>·<a style="" title="洋品牌水土不服 国产净水器" target="_blank" href="/caijing_0708/1625.html">洋品牌水土不服 国产净水器</a></li>
  <li>·<a style="" title="低碳环保风将竹地板推向潮流" target="_blank" href="/caijing_0708/1624.html">低碳环保风将竹地板推向潮流</a></li>
  <li>·<a style="" title="韩国对中国陶瓷反倾销有失公平" target="_blank" href="/caijing_0708/1626.html">韩国对中国陶瓷反倾销有失公平</a></li>
  <li>·<a style="" title="洋品牌水土不服 国产净水器" target="_blank" href="/caijing_0708/1625.html">洋品牌水土不服 国产净水器</a></li>
  <li>·<a style="" title="低碳环保风将竹地板推向潮流" target="_blank" href="/caijing_0708/1624.html">低碳环保风将竹地板推向潮流</a></li>
  </ul>
  </div>
</div>

<div class="box ccat-area" style=" margin-right:3px">
  <h5 class="title-1">医药猎头职位<a href=
  "http://localhost/entity" class=
  "more">更多&gt;&gt;</a></h5>
  <div class="content">
  <ul class="list lh24 f14">
      ${latest_entities('job', 1, 5)}
  </ul>
  </div>
</div>

<div class="box rcat-area" style=" margin-right:3px">
  <h5 class="title-1">新药研发</h5>
  <div class="content">
  <ul class="list lh24 f14">
  <li>·<a style="" title="1111111111" target="_blank" href="/guonei_0811/1628.html">1111111111</a></li>
  <li>·<a style="" title="国内地板行业的“隐形冠军”" target="_blank" href="/caijing_0708/1627.html">国内地板行业的“隐形冠军”</a></li>
  <li>·<a style="" title="韩国对中国陶瓷反倾销有失公平" target="_blank" href="/caijing_0708/1626.html">韩国对中国陶瓷反倾销有失公平</a></li>
  <li>·<a style="" title="洋品牌水土不服 国产净水器" target="_blank" href="/caijing_0708/1625.html">洋品牌水土不服 国产净水器</a></li>
  <li>·<a style="" title="低碳环保风将竹地板推向潮流" target="_blank" href="/caijing_0708/1624.html">低碳环保风将竹地板推向潮流</a></li>
  <li>·<a style="" title="韩国对中国陶瓷反倾销有失公平" target="_blank" href="/caijing_0708/1626.html">韩国对中国陶瓷反倾销有失公平</a></li>
  <li>·<a style="" title="洋品牌水土不服 国产净水器" target="_blank" href="/caijing_0708/1625.html">洋品牌水土不服 国产净水器</a></li>
  <li>·<a style="" title="低碳环保风将竹地板推向潮流" target="_blank" href="/caijing_0708/1624.html">低碳环保风将竹地板推向潮流</a></li>
  </ul>
  </div>
</div>
</div>

<div class="bk3"></div>

<div class="wrap-line">
<div class="box lcat-area" style=" margin-right:3px">
  <h5 class="title-1">医患关系<a href=
  "http://localhost/entity" class=
  "more">更多&gt;&gt;</a></h5>
  <div class="content">
  <ul class="list lh24 f14">
  <li>·<a style="" title="1111111111" target="_blank" href="/guonei_0811/1628.html">1111111111</a></li>
  <li>·<a style="" title="国内地板行业的“隐形冠军”" target="_blank" href="/caijing_0708/1627.html">国内地板行业的“隐形冠军”</a></li>
  <li>·<a style="" title="韩国对中国陶瓷反倾销有失公平" target="_blank" href="/caijing_0708/1626.html">韩国对中国陶瓷反倾销有失公平</a></li>
  <li>·<a style="" title="洋品牌水土不服 国产净水器" target="_blank" href="/caijing_0708/1625.html">洋品牌水土不服 国产净水器</a></li>
  <li>·<a style="" title="低碳环保风将竹地板推向潮流" target="_blank" href="/caijing_0708/1624.html">低碳环保风将竹地板推向潮流</a></li>
  <li>·<a style="" title="韩国对中国陶瓷反倾销有失公平" target="_blank" href="/caijing_0708/1626.html">韩国对中国陶瓷反倾销有失公平</a></li>
  <li>·<a style="" title="洋品牌水土不服 国产净水器" target="_blank" href="/caijing_0708/1625.html">洋品牌水土不服 国产净水器</a></li>
  <li>·<a style="" title="低碳环保风将竹地板推向潮流" target="_blank" href="/caijing_0708/1624.html">低碳环保风将竹地板推向潮流</a></li>
  </ul>
  </div>
</div>

<div class="box ccat-area" style=" margin-right:3px">
  <h5 class="title-1">医疗猎头职位<a href=
  "http://localhost/entity" class=
  "more">更多&gt;&gt;</a></h5>
  <div class="content">
  <ul class="list lh24 f14">
      ${latest_entities('elite', 1, 5)}
  </ul>
  </div>
</div>

<div class="box rcat-area" style=" margin-right:3px">
    <a href="#"><img src="${static_url}/images/ad3.jpg" width="245" height="220"/></a>
</div>
</div>

<div class="bk3"></div>

<div class="wrap-line">
<div class="box lcat-area" style=" margin-right:3px">
  <h5 class="title-1">医院管理<a href=
  "http://localhost/entity" class=
  "more">更多&gt;&gt;</a></h5>
  <div class="content">
  <ul class="list lh24 f14">
  <li>·<a style="" title="1111111111" target="_blank" href="/guonei_0811/1628.html">1111111111</a></li>
  <li>·<a style="" title="国内地板行业的“隐形冠军”" target="_blank" href="/caijing_0708/1627.html">国内地板行业的“隐形冠军”</a></li>
  <li>·<a style="" title="韩国对中国陶瓷反倾销有失公平" target="_blank" href="/caijing_0708/1626.html">韩国对中国陶瓷反倾销有失公平</a></li>
  <li>·<a style="" title="洋品牌水土不服 国产净水器" target="_blank" href="/caijing_0708/1625.html">洋品牌水土不服 国产净水器</a></li>
  <li>·<a style="" title="低碳环保风将竹地板推向潮流" target="_blank" href="/caijing_0708/1624.html">低碳环保风将竹地板推向潮流</a></li>
  <li>·<a style="" title="韩国对中国陶瓷反倾销有失公平" target="_blank" href="/caijing_0708/1626.html">韩国对中国陶瓷反倾销有失公平</a></li>
  <li>·<a style="" title="洋品牌水土不服 国产净水器" target="_blank" href="/caijing_0708/1625.html">洋品牌水土不服 国产净水器</a></li>
  <li>·<a style="" title="低碳环保风将竹地板推向潮流" target="_blank" href="/caijing_0708/1624.html">低碳环保风将竹地板推向潮流</a></li>
  </ul>
  </div>
</div>

<div class="box ccat-area" style=" margin-right:3px">
  <h5 class="title-1">人力资源 绩效 社保 纠纷<a href=
  "http://localhost/entity" class=
  "more">更多&gt;&gt;</a></h5>
  <div class="content">
  <ul class="list lh24 f14">
  <li>·<a style="" title="1111111111" target="_blank" href="/guonei_0811/1628.html">1111111111</a></li>
  <li>·<a style="" title="国内地板行业的“隐形冠军”" target="_blank" href="/caijing_0708/1627.html">国内地板行业的“隐形冠军”</a></li>
  <li>·<a style="" title="韩国对中国陶瓷反倾销有失公平" target="_blank" href="/caijing_0708/1626.html">韩国对中国陶瓷反倾销有失公平</a></li>
  <li>·<a style="" title="洋品牌水土不服 国产净水器" target="_blank" href="/caijing_0708/1625.html">洋品牌水土不服 国产净水器</a></li>
  <li>·<a style="" title="低碳环保风将竹地板推向潮流" target="_blank" href="/caijing_0708/1624.html">低碳环保风将竹地板推向潮流</a></li>
  <li>·<a style="" title="韩国对中国陶瓷反倾销有失公平" target="_blank" href="/caijing_0708/1626.html">韩国对中国陶瓷反倾销有失公平</a></li>
  <li>·<a style="" title="洋品牌水土不服 国产净水器" target="_blank" href="/caijing_0708/1625.html">洋品牌水土不服 国产净水器</a></li>
  <li>·<a style="" title="低碳环保风将竹地板推向潮流" target="_blank" href="/caijing_0708/1624.html">低碳环保风将竹地板推向潮流</a></li>
  </ul>
  </div>
</div>

<div class="box rcat-area" style=" margin-right:3px">
  <h5 class="title-1">护理交流</h5>
  <div class="content">
  <ul class="list lh24 f14">
  <li>·<a style="" title="1111111111" target="_blank" href="/guonei_0811/1628.html">1111111111</a></li>
  <li>·<a style="" title="国内地板行业的“隐形冠军”" target="_blank" href="/caijing_0708/1627.html">国内地板行业的“隐形冠军”</a></li>
  <li>·<a style="" title="韩国对中国陶瓷反倾销有失公平" target="_blank" href="/caijing_0708/1626.html">韩国对中国陶瓷反倾销有失公平</a></li>
  <li>·<a style="" title="洋品牌水土不服 国产净水器" target="_blank" href="/caijing_0708/1625.html">洋品牌水土不服 国产净水器</a></li>
  <li>·<a style="" title="低碳环保风将竹地板推向潮流" target="_blank" href="/caijing_0708/1624.html">低碳环保风将竹地板推向潮流</a></li>
  <li>·<a style="" title="韩国对中国陶瓷反倾销有失公平" target="_blank" href="/caijing_0708/1626.html">韩国对中国陶瓷反倾销有失公平</a></li>
  <li>·<a style="" title="洋品牌水土不服 国产净水器" target="_blank" href="/caijing_0708/1625.html">洋品牌水土不服 国产净水器</a></li>
  <li>·<a style="" title="低碳环保风将竹地板推向潮流" target="_blank" href="/caijing_0708/1624.html">低碳环保风将竹地板推向潮流</a></li>
  </ul>
  </div>
</div>
</div>

<div class="ad-column">
<a href="#"><img src="${static_url}/images/ad2.jpg" width="960"/></a>
</div>

<div class="bk3"></div>

<div class="wrap-line">
<div class="box lcat-area" style=" margin-right:3px">
  <h5 class="title-1">医药营销<a href=
  "http://localhost/entity" class=
  "more">更多&gt;&gt;</a></h5>
  <div class="content">
  <ul class="list lh24 f14">
  <li>·<a style="" title="1111111111" target="_blank" href="/guonei_0811/1628.html">1111111111</a></li>
  <li>·<a style="" title="国内地板行业的“隐形冠军”" target="_blank" href="/caijing_0708/1627.html">国内地板行业的“隐形冠军”</a></li>
  <li>·<a style="" title="韩国对中国陶瓷反倾销有失公平" target="_blank" href="/caijing_0708/1626.html">韩国对中国陶瓷反倾销有失公平</a></li>
  <li>·<a style="" title="洋品牌水土不服 国产净水器" target="_blank" href="/caijing_0708/1625.html">洋品牌水土不服 国产净水器</a></li>
  <li>·<a style="" title="低碳环保风将竹地板推向潮流" target="_blank" href="/caijing_0708/1624.html">低碳环保风将竹地板推向潮流</a></li>
  <li>·<a style="" title="韩国对中国陶瓷反倾销有失公平" target="_blank" href="/caijing_0708/1626.html">韩国对中国陶瓷反倾销有失公平</a></li>
  <li>·<a style="" title="洋品牌水土不服 国产净水器" target="_blank" href="/caijing_0708/1625.html">洋品牌水土不服 国产净水器</a></li>
  <li>·<a style="" title="低碳环保风将竹地板推向潮流" target="_blank" href="/caijing_0708/1624.html">低碳环保风将竹地板推向潮流</a></li>
  </ul>
  </div>
</div>

<div class="box ccat-area" style=" margin-right:3px">
  <h5 class="title-1">培训 管理 技巧<a href=
  "http://localhost/entity" class=
  "more">更多&gt;&gt;</a></h5>
  <div class="content">
  <ul class="list lh24 f14">
  <li>·<a style="" title="1111111111" target="_blank" href="/guonei_0811/1628.html">1111111111</a></li>
  <li>·<a style="" title="国内地板行业的“隐形冠军”" target="_blank" href="/caijing_0708/1627.html">国内地板行业的“隐形冠军”</a></li>
  <li>·<a style="" title="韩国对中国陶瓷反倾销有失公平" target="_blank" href="/caijing_0708/1626.html">韩国对中国陶瓷反倾销有失公平</a></li>
  <li>·<a style="" title="洋品牌水土不服 国产净水器" target="_blank" href="/caijing_0708/1625.html">洋品牌水土不服 国产净水器</a></li>
  <li>·<a style="" title="低碳环保风将竹地板推向潮流" target="_blank" href="/caijing_0708/1624.html">低碳环保风将竹地板推向潮流</a></li>
  <li>·<a style="" title="韩国对中国陶瓷反倾销有失公平" target="_blank" href="/caijing_0708/1626.html">韩国对中国陶瓷反倾销有失公平</a></li>
  <li>·<a style="" title="洋品牌水土不服 国产净水器" target="_blank" href="/caijing_0708/1625.html">洋品牌水土不服 国产净水器</a></li>
  <li>·<a style="" title="低碳环保风将竹地板推向潮流" target="_blank" href="/caijing_0708/1624.html">低碳环保风将竹地板推向潮流</a></li>
  </ul>
  </div>
</div>

<div class="box rcat-area" style=" margin-right:3px">
  <h5 class="title-1">中医文化</h5>
  <div class="content">
  <ul class="list lh24 f14">
  <li>·<a style="" title="1111111111" target="_blank" href="/guonei_0811/1628.html">1111111111</a></li>
  <li>·<a style="" title="国内地板行业的“隐形冠军”" target="_blank" href="/caijing_0708/1627.html">国内地板行业的“隐形冠军”</a></li>
  <li>·<a style="" title="韩国对中国陶瓷反倾销有失公平" target="_blank" href="/caijing_0708/1626.html">韩国对中国陶瓷反倾销有失公平</a></li>
  <li>·<a style="" title="洋品牌水土不服 国产净水器" target="_blank" href="/caijing_0708/1625.html">洋品牌水土不服 国产净水器</a></li>
  <li>·<a style="" title="低碳环保风将竹地板推向潮流" target="_blank" href="/caijing_0708/1624.html">低碳环保风将竹地板推向潮流</a></li>
  <li>·<a style="" title="韩国对中国陶瓷反倾销有失公平" target="_blank" href="/caijing_0708/1626.html">韩国对中国陶瓷反倾销有失公平</a></li>
  <li>·<a style="" title="洋品牌水土不服 国产净水器" target="_blank" href="/caijing_0708/1625.html">洋品牌水土不服 国产净水器</a></li>
  <li>·<a style="" title="低碳环保风将竹地板推向潮流" target="_blank" href="/caijing_0708/1624.html">低碳环保风将竹地板推向潮流</a></li>
  </ul>
  </div>
</div>
</div>

<div class="bk3"></div>

<div class="wrap-line">
<div class="box lcat-area" style=" margin-right:3px">
  <h5 class="title-1">其它<a href=
  "http://localhost/entity" class=
  "more">更多&gt;&gt;</a></h5>
  <div class="content">
  <ul class="list lh24 f14">
  <li>·<a style="" title="1111111111" target="_blank" href="/guonei_0811/1628.html">1111111111</a></li>
  <li>·<a style="" title="国内地板行业的“隐形冠军”" target="_blank" href="/caijing_0708/1627.html">国内地板行业的“隐形冠军”</a></li>
  <li>·<a style="" title="韩国对中国陶瓷反倾销有失公平" target="_blank" href="/caijing_0708/1626.html">韩国对中国陶瓷反倾销有失公平</a></li>
  <li>·<a style="" title="洋品牌水土不服 国产净水器" target="_blank" href="/caijing_0708/1625.html">洋品牌水土不服 国产净水器</a></li>
  <li>·<a style="" title="低碳环保风将竹地板推向潮流" target="_blank" href="/caijing_0708/1624.html">低碳环保风将竹地板推向潮流</a></li>
  <li>·<a style="" title="韩国对中国陶瓷反倾销有失公平" target="_blank" href="/caijing_0708/1626.html">韩国对中国陶瓷反倾销有失公平</a></li>
  <li>·<a style="" title="洋品牌水土不服 国产净水器" target="_blank" href="/caijing_0708/1625.html">洋品牌水土不服 国产净水器</a></li>
  <li>·<a style="" title="低碳环保风将竹地板推向潮流" target="_blank" href="/caijing_0708/1624.html">低碳环保风将竹地板推向潮流</a></li>
  </ul>
  </div>
</div>

<div class="box ccat-area" style=" margin-right:3px">
  <h5 class="title-1">其它<a href=
  "http://localhost/entity" class=
  "more">更多&gt;&gt;</a></h5>
  <div class="content">
  <ul class="list lh24 f14">
  <li>·<a style="" title="1111111111" target="_blank" href="/guonei_0811/1628.html">1111111111</a></li>
  <li>·<a style="" title="国内地板行业的“隐形冠军”" target="_blank" href="/caijing_0708/1627.html">国内地板行业的“隐形冠军”</a></li>
  <li>·<a style="" title="韩国对中国陶瓷反倾销有失公平" target="_blank" href="/caijing_0708/1626.html">韩国对中国陶瓷反倾销有失公平</a></li>
  <li>·<a style="" title="洋品牌水土不服 国产净水器" target="_blank" href="/caijing_0708/1625.html">洋品牌水土不服 国产净水器</a></li>
  <li>·<a style="" title="低碳环保风将竹地板推向潮流" target="_blank" href="/caijing_0708/1624.html">低碳环保风将竹地板推向潮流</a></li>
  <li>·<a style="" title="韩国对中国陶瓷反倾销有失公平" target="_blank" href="/caijing_0708/1626.html">韩国对中国陶瓷反倾销有失公平</a></li>
  <li>·<a style="" title="洋品牌水土不服 国产净水器" target="_blank" href="/caijing_0708/1625.html">洋品牌水土不服 国产净水器</a></li>
  <li>·<a style="" title="低碳环保风将竹地板推向潮流" target="_blank" href="/caijing_0708/1624.html">低碳环保风将竹地板推向潮流</a></li>
  </ul>
  </div>
</div>

<div class="box rcat-area" style=" margin-right:3px">
  <h5 class="title-1">其它</h5>
  <div class="content">
  <ul class="list lh24 f14">
  <li>·<a style="" title="1111111111" target="_blank" href="/guonei_0811/1628.html">1111111111</a></li>
  <li>·<a style="" title="国内地板行业的“隐形冠军”" target="_blank" href="/caijing_0708/1627.html">国内地板行业的“隐形冠军”</a></li>
  <li>·<a style="" title="韩国对中国陶瓷反倾销有失公平" target="_blank" href="/caijing_0708/1626.html">韩国对中国陶瓷反倾销有失公平</a></li>
  <li>·<a style="" title="洋品牌水土不服 国产净水器" target="_blank" href="/caijing_0708/1625.html">洋品牌水土不服 国产净水器</a></li>
  <li>·<a style="" title="低碳环保风将竹地板推向潮流" target="_blank" href="/caijing_0708/1624.html">低碳环保风将竹地板推向潮流</a></li>
  <li>·<a style="" title="韩国对中国陶瓷反倾销有失公平" target="_blank" href="/caijing_0708/1626.html">韩国对中国陶瓷反倾销有失公平</a></li>
  <li>·<a style="" title="洋品牌水土不服 国产净水器" target="_blank" href="/caijing_0708/1625.html">洋品牌水土不服 国产净水器</a></li>
  <li>·<a style="" title="低碳环保风将竹地板推向潮流" target="_blank" href="/caijing_0708/1624.html">低碳环保风将竹地板推向潮流</a></li>
  </ul>
  </div>
</div>
</div>

<div class="bk3"></div>
<div class="ad-column">
<a href="#"><img src="${static_url}/images/ad4.jpg" width="960" height="85"/></a>
</div>
